/* Autor: Mateo Álvarez Murillo
Fecha de creación: 2023

Este código se proporciona bajo la Licencia MIT.
Para más información, consulta el archivo LICENSE en la raíz del repositorio. */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700&display=swap");

:root {
  --rosa: #c93b76;
  --negroBg: rgba(33, 41, 54, 0.7);
  --negro: #212936;
  --gris: #4d5562;
  --blanco: #e5e7eb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--negroBg) var(--negro);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--negroBg);
}

html {
  font-family: "Inter", sans-serif;
  font-size: 62.5%;
}

.bg{
  display: none;
}

body {
  width: 96vw;
  background-image: url("/img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

#container {
  background: var(--negroBg);
  width: 400px;
  height: 600px;
  border-radius: 2rem;
}

.container-image {
  width: 100%;
  height: calc(400px - 40px);
  padding: 20px;
}

.container-image img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  object-fit: cover;
}

.container-information {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-information h1 {
  text-align: center;
  font-size: 1.8rem;
  color: var(--blanco);
}

.container-information p {
  text-align: center;
  font-size: 1.6rem;
  color: var(--gris);
  margin-top: 5px;
}

.container-controls-play {
  color: var(--gris);
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container-controls-play > img {
  width: 40px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container-controls-play > img:hover {
  scale: 1.2;
}

.container-controls-play #play {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--rosa);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container-controls-play #play:hover {
  scale: 1.2;
  box-shadow: 0 0 10px var(--rosa);
}

.container-controls-play #play i {
  color: var(--blanco);
  font-size: 2rem;
}

.container-controls-duration {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  margin-top: 20px;
}

.container-controls-duration-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container-controls-duration-time span {
  color: var(--gris);
  font-size: 1.5rem;
}


